<div class="nav flex-between">
    <img height="60" width="180" src="../../assets/interbank-LOGO.svg" />
    <div class="flex">
      <div class="flex-column pr-10 m-auto">
        <div>
          Nombre
        </div>
        <div>
          <a routerLink='/auth' routerLinkActive="router-link-active">Cerrar sesión</a>
        </div>
      </div>
      <div class="pr-10 m-auto">
        <img height="50" src="../../assets/user.svg" />
      </div>
    </div>
  </div>
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" class="sidenav bg-white" (mouseenter)="sidenav.toggle()">
        <mat-nav-list>
            <a routerLink="./search-proposal" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Búsqueda de propuestas</span>
            </a>
            <a routerLink="./new-proposal" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Nueva propuesta</span>
            </a>
            <a routerLink="./pending-proposal" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>date_range</mat-icon>
                <span>Propuestas pendientes</span>
            </a>
            <a routerLink="/auth" mat-list-item>
                <mat-icon mat-list-icon>logout</mat-icon>
                <span>Salir</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- <button mat-icon-button (click)="sidenav.toggle()" class="absolute">
      <mat-icon>menu</mat-icon>
    </button> -->
    <div class="container-full bg-grey p-5">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
